h1{
    text-align: center;
}

footer{
    background: rgb(0, 132, 255);
    text-align: center;
}

header{
    background:rgb(0, 132, 255);
}

body{
    background: rgba(0, 207, 138, 0.76);
    text-align: center;
}